.NavItem {
    padding: 15px 5px;
    margin-left: 55px;
    text-decoration: none;
    font-family: 'Bahnschrift';
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 3px 20px rgba(0, 0, 0, 0.22);

    transition: all 0.15s;

    position: relative;
}

.NavItem:hover {
    color: rgb(255, 129, 129);
    border-radius: 2px;
}

.NavItem:active,
.NavItem.active {
    color: rgb(255, 40, 40);
    border-top: 3px solid rgb(255, 40, 40);
}


@media (max-width: 1024px) {
    .NavItem {        
        margin: 5px 0;
        padding: 10px 5px;
    }
}

