.Layout {
    height: 100vh;
    width: 100vw;
}

.Background {
    background-image: url('../../assets/images/background-image.jpg');
    background-repeat: no-repeat;
    background-color: pink;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;

    filter: brightness(0.7);
    transform: scale(1); 

    position: fixed;
    z-index: -100;
}
